@tailwind utilities;

@layer utilities {
  .lg-m-width {
    /* 1200px */
    @apply max-w-[75rem] bg-transparent px-2;
  }

  .md-m-width {
    /* 1000px */
    @apply max-w-[62.5rem] bg-transparent px-2;
  }

  .sm-m-width {
    @apply max-w-[55rem] bg-transparent px-2;
  }

  .mt-bullet-swiper {
    margin-top: 25px;
  }

  .text-shadow {
    text-shadow: 7px 7px 17px #000000;
  }

  .lr-box-shadow {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .light-gradient-bg {
    background: linear-gradient(180deg, rgba(0, 101, 225, 0) 0%, rgba(0, 101, 225, 0.07) 100%);
  }

  .light-tp-gradient {
    background: linear-gradient(180deg, rgba(241, 247, 253, 0.3) 0%, #edf4fd 100%);
  }

  .hover-move:hover {
    transform: translate(-5px, 0);
  }
}
